* {
	box-sizing: border-box;
}

body {
/*	min-height: 3000px;*/
	font-family: 'Roboto', sans-serif;
	background-image: url('images/back2.png');
}

h2 {
	font-size: 20px;
	color: #6f7172;
	font-weight: bold;
	margin: 15px 0px;
}

h3 {
	font-size: 18px;
	color: #3a3e3f;
	font-weight: bold;
	margin: 15px 0px;
}

h4 {
	font-weight: 18px;
	color: #f47f66;
	font-weight: bold;
	margin: 15px 0px;
}

h5 {
	font-size: 14px;
	color: #959595;
	font-style: italic;
	margin: 15px 0px;
}

h6 {
	font-size: 14px;
	color: #959595;
	font-style: italic;
	margin: 15px 0px;
}

p {
	font-size: 16px;
	color: #656565;
}

a {
	text-decoration: none;
}

/*///////////////////////////////////////////////////////////////HEADER/////////////////////////////////////////////*/

header {
	float: left;
	height: 44px;
	width: 100%;
	background-image: url('images/back1.png');
}

.header:after, .col-3:after, .footer-socials:after {
	content: "";
	clear: both;
	display: block;
}

.logo {
	float: left;
	height: 44px;
	width: 369px;
	background-image: url('images/logo.png');
	cursor: pointer;
}

.menu a {
	float: left;
	color: white;
	height: 44px;
	padding: 12px 10px 10px 30px;
}

.menu a:hover {
	color: grey;
}

.sub-header {
	background-image: url('images/sub_header.png');
	height: 48px;
	border-bottom: 5px solid #b4b4b3;	
}

/*///////////////////////////////////////////////////////////////MAIN///////////////////////////////////////////////*/

.social-pages {
	float: left;
	height: 180px;
	width: 42px;
	background-color: #f47b5f;
	margin-top: 160px;
}

.tumblr, .twitter, .instagram, .facebook {
	height: 45px;
	border-style: 1px solid black;
	display: flex;
	justify-content: center;
	align-items: center;
	border: 1px solid #cd4f3a;
}

.content {
	float: left;
	width: 628px;
	margin: 100px 0px 0px 160px;
}

.news {
	margin-bottom: 50px;
}

.image {
	border: 10px solid #fefefe;
	display: flex;
	justify-content: center;
	align-items: center;
}

.text {
	width: 628px;
	background-color: #fefefe;
	margin-top: 10px;
	padding: 20px 0px 40px 40px;
	line-height: 25px;
}

main a {
	color: #6f7172;
}

main a:hover {
	color: #8f9495;
}

main span {
	font-size: 12px;
	line-height: 0px !important;
	font-style: italic;
}

.sub-news-bar {
	display: flex;
	flex-direction: row;
	margin-top: 35px;
}

.sub-news:first-child {
	margin-right: 55px;
}

.sub-image {
	display: flex;
	justify-content: center;
	align-items: center;
	border: 10px solid #fefefe;
}

.sub-text {
	background-color: #fefefe;
	margin-bottom: 30px;
	width: 285px;
}

.sub-text p {
	font-size: 12px;
	color: #747474;
	line-height: 20px;
	width: 195px;
	margin-left: 40px;
	padding-bottom: 25px;
}

.sub-news h2, h5 {
	width: 195px;
	margin-left: 40px;
}

.sub-text h2 {
	padding-top: 25px;
}

.sidebar {
	position: relative;
	margin: 100px 0px 0px 160px;
	float: left;
	height: 790px;
	width: 330px;
	border: 25px solid #fefefe;
	border-left: 35px solid #fefefe;
	background-color: #fefefe;
}

.enter {
	margin-top: 35px;
}

.subscribe {
	position: absolute;
}

main input[type=email] {
	position: absolute;
	height: 52px;
	width: 270px;
	padding-left: 10px;
	border-radius: 10px;
	font-size: 16px;
}

input[type=submit] {
	position: relative;
	margin: 5px 0px 0px 200px;
	height: 40px;
	width: 60px;
	border-radius: 10px;
	font-size: 16px;
	font-weight: bold;
	color: #3a3e3f;
	border: none;
}

input[type=submit]:hover {
	color: #8f9495;
	cursor: pointer;
	border: 2px solid #8f9495;
}

.updates p {
	margin-top: 80px;
}

.recent-posts li {
	list-style-image: url('images/li1.png');
	color: #3a3a3a;
	font-size: 14px;
}

.recent-posts li h6 {
	margin-top: 5px;
}

.popular-tags button {
	height: 35px;
	width: 80px;
	border-radius: 5px;
	color: #555555;
	font-weight: bolder;
}

.popular-tags button:nth-child(4) {
	margin-bottom: 5px;
}

.popular-tags button:hover {
	color: #6f7172;
	cursor: pointer;
}

main .advertising {
	position: absolute;
	margin: 970px 0px 0px 1005px;
}

main .advertising:hover {
	cursor: pointer;
}

/*///////////////////////////////////////////////////////////////FOOTER///////////////////////////////////////////////*/

.footer {
	height: 390px;
	background-color: #343434;
}

.footer p {
	color: #d6d6d6;
	font-size: 14px;
	line-height: 20px;
	width: 490px;
	padding-top: 50px;
	margin-left: 160px;
}

[class*="icon-"] {
	height: 50px;
	width: 50px;
	border-radius: 50px;
	background-color: #f26c4f;
	float: left;
	margin-left: 15px;
	margin-top: 20px;
	cursor: pointer;
}

.icon-facebook {
	background-image: url('images/facebook-white.png');
	background-repeat: no-repeat;
	background-size: 30px;
	background-position: 50% 40%;
	margin-left: 160px;
}

.icon-twitter {
	background-image: url('images/twitter-white.png');
	background-repeat: no-repeat;
	background-size: 30px;
	background-position: 50% 45%;
}

.icon-instagram {
	background-image: url('images/instagram-white.png');
	background-repeat: no-repeat;
	background-size: 28px;
	background-position: 50% 45%;
}

footer input[type=email] {
	position: absolute;
	height: 55px;
	width: 445px;
	border-radius: 10px;
	padding-left: 15px;
	font-size: 16px;
	margin-left: 515px;
	margin-top: -50px;
}

footer input[type=submit] {
	position: absolute;
	background-color: #f27356;
	border: none;
	color: #ca3c20;
	width: 60px;
	margin: -42px 0px 0px 890px;
}

footer input[type=submit]:hover {
	background-color: #ca3c20;
	color: #f27356;
	cursor: pointer;
	border: 2px solid #f27356;
}

.copyright {
	color: #646464;
	font-weight: bold;
	margin: 100px 0px 0px 160px;
}