* {
	box-sizing: border-box;
}

body {
	min-height: 3000px;
	font-family: 'Roboto', sans-serif;
	background-image: url('images/back2.png');
}

h2 {
	font-size: 20px;
	color: #6f7172;
	font-weight: bold;
	margin: 15px 0px;
}

h4 {
	font-weight: 18px;
	color: #f47f66;
	font-weight: bold;
	margin: 15px 0px;
}

h6 {
	font-size: 14px;
	color: #959595;
	font-style: italic;
}

p {
	font-size: 16px;
	color: #656565;
	line-height: 25px;
}

a {
	text-decoration: none;
}

/*///////////////////////////////////////////////////////////////HEADER/////////////////////////////////////////////*/

header {
	float: left;
	height: 44px;
	width: 100%;
	background-image: url('images/back1.png');
}

.header:after, .col-3:after {
	content: "";
	clear: both;
	display: block;
}

.logo {
	float: left;
	height: 44px;
	width: 369px;
	background-image: url('images/logo.png');
	cursor: pointer;
}

.menu a {
	float: left;
	color: white;
	height: 44px;
	padding: 12px 10px 10px 30px;
}

.menu a:hover {
	color: grey;
}

.sub-header {
	background-image: url('images/sub_header.png');
	height: 48px;
	border-bottom: 5px solid #b4b4b3;	
}

/*///////////////////////////////////////////////////////////////MAIN///////////////////////////////////////////////*/

.social-pages {
	float: left;
	height: 180px;
	width: 42px;
	background-color: #f47b5f;
	margin-top: 160px;
}

.tumblr, .twitter, .instagram, .facebook {
	height: 45px;
	border-style: 1px solid black;
	display: flex;
	justify-content: center;
	align-items: center;
	border: 1px solid #cd4f3a;
}

.content {
	float: left;
	width: 628px;
	margin: 100px 0px 0px 120px;
}

.news {
	margin-bottom: 50px;
}

.image {
	border: 10px solid white;
	display: flex;
	justify-content: center;
	align-items: center;
}

.text {
	width: 628px;
	background-color: white;
	margin-top: 10px;
	padding: 20px 0px 40px 40px;
}

main a {
	color: #6f7172;
}

main a:hover {
	color: #8f9495;
}

.sidebar {
	float: left;
}